html, body {
    font-size: 100%;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: rgb(23, 5, 32);
    background: rgb(240, 240, 240);
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
}

.weather {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather__features {
    width: 100%;
    padding: 25px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 218, 149);
    border-radius: 20px;
    box-shadow: 20px 20px 20px 2px rgba(130, 148, 151, 0.4);
}

.weather__item {
    margin-bottom: 10px;
}

select {
    width: 100%;
    max-width: 400px;
    padding: 10px 40px;
    margin-bottom: 50px;
    border: 0;
    border-radius: 10px;
    color: rgb(20, 2, 26);
    background:  rgb(146, 155, 233);
    box-shadow: 20px 20px 20px 2px rgba(130, 148, 151, 0.4);
}

.city-name {
    font-weight: 700;
    font-size: 18px;
}

